<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="353fee2e-052f-4b58-99d8-0715318ed2d6" name="MySQL Database" xmlns:con="http://eviware.com/soapui/config"><con:description>The MySQL Database Test Suite has been designed to check how the inserted data was saved in an assigned table after the ETL process was executed.</con:description><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="353fee2e-052f-4b58-99d8-0715318ed2d6fileName">MySQL-Database</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="f10081d4-7dbb-4f79-86ff-3b9a553e0135"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>