<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="90cda47e-cd22-4d58-a58e-6ce18d413db3" name="Imported Files" xmlns:con="http://eviware.com/soapui/config"><con:description>The Imported Files Test Suite has been designed to check the generated folder by the ETL process, this folder contains files which were copied as part of the process which are covered as well.</con:description><con:settings><con:setting id="90cda47e-cd22-4d58-a58e-6ce18d413db3fileName">Imported-Files</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="f10081d4-7dbb-4f79-86ff-3b9a553e0135"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>